@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    /*========== Colors ==========*/
    --color-primary: #FF6700;
    --color-primary-variant: #F2A70C;
    --title-color: #ececec;
    --text-color-1: #ffffff;
    --text-color-2: #0a0a0a;
    --color-bg-1: #593C3C;
    --color-bg-2: #302E55;
    --border: .1rem solid #ff6700;
    
    --surface-color: #ffffff;
    --curve: 40;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    --transition: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/*Navbar*/
.navbar {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--color-bg-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav__logo {
    height: 5rem;
}
 
.navbar .nav__links {
    list-style-type: none;
    display: flex;
}

.navbar .nav__links a{
    font-size: 1.1rem;
    margin: 0 1rem;
    color: var(--text-color-2);
    cursor: pointer;
    transition: var(--transition);
 }
 
 
.navbar .nav__links a:hover {
    color: var(--color-primary);
    border-bottom: solid var(--color-primary) .2rem;
    padding-bottom: .5rem;
}

.icon-btn {
    width: 7%;
    height: 30px;
    margin-right: 10px;
    background: none;
    border: none;
    border-left: solid rgba(0, 0, 0, 0.75);
}
 
.icon-btn i {
    font-size: 2rem;
}
/*========================================*/
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);
    border: solid 1px;
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--color-bg-2);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  

  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: var(--text-color-1);
  }
  
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .rating {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    color: var(--text-color-1);
    font-weight: bold;
    position: relative;
    width: max-content;
  }
  
  .rating:before {
    content: "☆☆☆☆☆";
  }
  
   .rating:after {
    content: "★★★★";
    position: absolute;
    left: 0;
    z-index: 0;
    width: calc(var(--rating) * 1%);
    overflow: hidden;
  }

  .card__link {
    padding: 0 2.3em 2em;
    font-size: 1em;
    color: orangered;
  }