@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    /*========== Colors ==========*/
    --color-primary: #FF6700;
    --color-primary-variant: #F2A70C;
    --title-color: #ececec;
    --text-color-1: #ffffff;
    --text-color-2: #0a0a0a;
    --color-bg-1: #593C3C;
    --color-bg-2: #302E55;
    --border: .1rem solid #ff6700;
    
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    --transition: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

/*Navbar*/
.navbar {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--color-bg-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav__logo {
    height: 5rem;
}
 
.navbar .nav__links {
    list-style-type: none;
    display: flex;
}

.navbar .nav__links a{
    font-size: 1.1rem;
    margin: 0 1rem;
    color: var(--text-color-2);
    cursor: pointer;
    transition: var(--transition);
 }
 
 
.navbar .nav__links a:hover {
    color: var(--color-primary);
    border-bottom: solid var(--color-primary) .2rem;
    padding-bottom: .5rem;
}

.icon-btn {
    width: 7%;
    height: 30px;
    margin-right: 10px;
    background: none;
    border: none;
    border-left: solid rgba(0, 0, 0, 0.75);
}
 
.icon-btn i {
    font-size: 2rem;
}
/*=================== EXHIBITION ================= */
.gallery {
   padding: 100px;
}

.gallery__container {
    position: relative;
}

.gallery__empty {
    width: 26rem;
    position: absolute;
    right: 14rem;
    top: 0;
}

.gallery__head {
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
}

.image-grid {
    padding: 12px;
}

.image-row {
    display: flex;  
}

.image-row .image {
    margin: 12px;
    height: 350px;  
}

.image { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
                0 6px 20px rgba(0, 0, 0, 0.15),
                0 6px 20px rgba(0, 0, 0, 0.7);
}

.image-01 {
    background-image: url('../../images/gallery1\(Kenya\).jpg'); 
    flex: 1;  
}

.image-02 {
background-image: url('../../images/gallery2\(south\ Africa\).jpg'); 
flex: 1;  
}

.image-03 {
background-image: url('../../images/gallery6.jpeg');  
flex: 2;  
}

.image-04 {
background-image: url('../../images/gallery4.jpg'); 
flex: 1;
}

.image-05 {
background-image: url('../../images/gallery8.webp');
flex: 2;
}

.image-06 {
background-image: url('../../images/gallery5.jpg');  
flex: 2;
}

.image-07 {
background-image: url('../../images/gallery7.webp'); 
flex: 1;
}

.image-08 {
background-image: url('https://images.unsplash.com/photo-1605812466869-dab071e96c35?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDExNnw2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');  
flex: 3;
}

.image-09 {
background-image: url('../../images/gallery7.webp');  
flex: 1;
}

.image-10 {
background-image: url('../../images/gallery8.webp'); 
flex: 1;
}

.image-11 {
background-image: url('https://images.unsplash.com/photo-1616418672515-1c2b39e219d3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE5N3w2c01WalRMU2tlUXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'); 
flex: 1;
}

.image-12 {
background-image: url('../../images/gallery3.jpg'); 
flex: 1;
}

.image:hover {
    filter: brightness(1.04);
}

@media screen and (max-width: 400px) {
.image-row {
    flex-direction: column;
}

.image-row .image {
    flex-basis: auto;
}
}